.post {
    padding: 20px;
    background-color: #fff;
    width: 700px;
    border: 1px solid rgb(255, 255, 255);
    overflow: auto;

}
.post:hover {
    border: 1px solid rgb(160, 160, 160);
}
.post-box {
    margin-block: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}
.post-selected:hover{
    border: 1px solid white;
}
.post-selected {
    width: 100%;
    border: 1px solid white;
}
.vote-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
}
.vote-sec button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

span {
    font-size: 15px;
    color: #999DA1;
}
a {
    color: #ff4500;
}
p {
    padding-block: 20px;
}

.btns {
    display: flex;
    gap: 20px;
    
}
.post-btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.post-btns button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    background-color: transparent;
    color: #999DA1;
    text-decoration: underline;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

button img {
    width: 17px;
}
@media (max-width: 500px) {
    .post-btns {
        flex-direction: column;
        align-items: flex-start;
    }
}
